<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620615534572-o2335amv423g3e0dhvp8ahc7076m8trf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620615534572-o2335amv423g3e0dhvp8ahc7076m8trf</string>
	<key>API_KEY</key>
	<string>AIzaSyAAdVPS_iSKlLpLNG9YtqFrTV1taUqba6A</string>
	<key>GCM_SENDER_ID</key>
	<string>620615534572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hnguyenngo98.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2214f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2214f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620615534572:ios:4258742ce86ecf61f7a2c9</string>
</dict>
</plist>